*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    font-family: "Asap", sans-serif;
    background-color: #143B5A;
    min-height: 100vh;
}
.container{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    background-color: #DEDEDE;
    border-radius: 10px;
    padding: 15px;
}
img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
ul{
    list-style-type: none;
}
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #143B5A;
    color: #fff;
    padding: 21px 0;
    z-index: 1;
}
.header .container{
    position: relative;
    background-color: transparent;
    padding: 0;
}
.header__title{
    text-align: center;
}
.header__bookmark{
    position: absolute;
    right: 30px;
    top: 8px;
    font-size: 23px;
    cursor: pointer;
}
.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 16px;
    top: 18px;
    font-size: 14px;
}
.main{
    flex-grow: 1;
    margin-top: 80px;
}
.films__card-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.films__genre-list{
    list-style-type: none;
    margin:15px 0px 15px 0px;
    padding: 0;
}
.films__card{
    position: relative;
    width: 23%;
    min-width: 220px;
    padding: 10px;
    border-radius: 8px;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: .3s ease all;
    margin-bottom: 30px;
}
.films__filter-wrapper{
    display: flex;
}
.films__card:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.films__btn{
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 7px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: #316B83;
    font-weight: 600;
    color: #fff; 
}
.form{
    margin-top: 10px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    background-color: #91a8c0;
    padding: 10px 15px;
    border-radius: 7px;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3)
}
.films__select{
    margin-right: 25px;
}
.input{
    box-sizing: border-box;
    padding: 10px 7px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    border: none;
}
.input:focus{
    outline: none;
}
.footer{
    text-align: center;
}
.footer .container{
    background-color: transparent;
    color: #fff;
    padding: 20px 0;
}
.films__btn-header{
    width: 100%;
    border-radius: 0px 0px 5px 5px;
    padding: 15px;
    margin-top: 15px;
    cursor: pointer;
    border: none;
    background-color: #316B83;
    font-weight: 600;
    color: #fff; 
}

.films__card-title{
    margin: 8px 0;
}

.bookmark{
    position: absolute;
    right: 15px;
    top: 15px;
    color: red;
    font-size: 20px;
    cursor: pointer;
}

#bookmark{
    display: none;
}

.sidebar{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.sidebar__card-wrapper{
    padding-top: 40px;
    padding-left: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-bottom: 50px;
}

.sidebar__wrapper{
    position: fixed;
    right: 0;
    max-width: 500px;
    width: 100%;
    margin-top: 79px;
    background-color: #DEDEDE;
    padding: 25px;
    height: 100%;
    overflow: auto;
}

.fa-times{
    position: fixed;
    font-size: 23px;
    color: #333;
    cursor: pointer;
}

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.modal__wrapper{
    position: relative;
    width: 650px;
    max-width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #DEDEDE;
    color: darkcyan;
}

.closeModal{
    position: absolute;
    right: 20px;
    color: rgb(12, 83, 83);
}

.modal__title{
    margin-bottom: 10px;
    color: rgb(12, 83, 83);
}

.modal__date{
    display: inline-block;
    margin: 8px 0;
    color: rgb(245, 96, 37);
}

.modal__genre{
    color: rgb(84, 43, 231);
}

.active{
    display: block;
}

.modal-active{
    display: flex;
}

@media(max-width:1020px){
    .films__card{
        width: 31%;
    }
}

@media(max-width:800px){
    .films__card{
        width: 48%;
    }
}

@media(max-width:482px){
    .films__card{
        width: 100%;
    }
}